@page
@model ContactModel
@{
    ViewData["Title"] = "404!";
}
<div class="centerIt">
<div class="push"></div>

<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<img src="http://thedevtip.com/notes/wp-content/uploads/2018/06/page-not-found.png">

<div class="push"></div>
        
</div>