@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="pushIt"></div>

<div class="centerIt">

<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>The best ASP.NET and C# Microsite you'll ever view!</p>

<div class="pushIt"></div>
      
<img src="http://thedevtip.com/notes/wp-content/uploads/2018/04/cartoon-story.png">
<br>

</div>

<div class="pushIt"></div>
